{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Distribution Rules
    </h3>

    <p>
        <b>Equal-sharing-of-the-bonus rule</b> <i>(phase 1, rounds 1-4):</i><br>
        There is no differentiation in group bonus share. If the group threshold level is met,<br>
        each group member receives an equal share of the group bonus.<br>

    </p>
        <b>Equal-payoff rule</b> <i>(phase 2, round 5-8):</i><br>
        There is differentiation in group bonus share. Group members receive different shares of the group bonus<br>
        in such a way that every group member receives in principle the same payoff.<br>
    <p>

    </p>
</div>

