{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Round {{ group.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>Vote for a threshold contribution level</h4>

<hr> </hr>

    <p> Here you can vote for a <b>threshold contribution level</b> for your group project for this round.<br>
        Please submit your vote in integers, between 0 and 80 points.</p>

    <p> The distribution rule for this phase is <b>{{ group.distribution_rule }}</b>.</p>

    <p> You are <b>player {{ player.id_in_group }}</b> and have been selected as a <b>{{ player.role }} cost</b> player.<br>
        Player 1 and 2 are low cost players, Player 3 and 4 are high cost players.</p>
<hr> </hr>


    <p> You are Player <b>{{ player.id_in_group }}</b>.</p>

    {% formfield player.proposal with label="Your proposal for your group's threshold contribution level is:" %}

<hr> </hr>

    {% next_button %}


<hr> </hr>
    <p> <i>Help: If you have any questions, please raise your hand.</i></p>
{% endblock %}